<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Box</title>
  <link rel="stylesheet" href="/index.css">
</head>

<body>
  <button class="fixbtn">
    <a href="/posts/new">Add New Movies</a>
  </button>

  <center>
    <h1 class="heading">Movie Box</h1>
    <button class="fixbtn"><a href="/posts/new">Add New Movies</a></button>
  </center>
  <center>
    <div class="movie-container">
      <% if (posts.length === 0) { %>
        <p>No movies available. Please add some!</p>
      <% } else { %>
        <% for (let post of posts) { %>
          <div class="post-frame">
            <img src="<%= post.poster %>" alt="Movie Poster" class="poster">
            <h2 class="titlename">Name: <%= post.title %></h2>
            <p class="description"><%= post.description %></p>
            <button class="linkbtn"><a href="/posts/<%= post.id %>">About Movie</a></button>
            <button class="linkbtn edit"><a href="/posts/<%= post.id %>/edit">Edit Movie</a></button>
            <br><br>
            <form method="post" action="/posts/<%= post.id %>?_method=DELETE" onsubmit="return confirm('Are you sure you want to delete this movie?');">
              <button class="delete-btn">Delete Movie</button>
            </form>
          </div>
        <% } %>
      <% } %>
    </div>
  </center>
</body>

</html>
