<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Movie Details</title>
  <link rel="stylesheet" href="/show.css">
</head>

<body>
  <center>
    <div class="movie-details post-frame"> 
      <h2 class="titlename">Movie Name: <%= post.title %></h2>
      <img class="poster" src="<%= post.poster %>" alt="Movie Poster">
      <h3 class="dir_name">Director Name: <%= post.director %></h3>
      <h3 class="release">Release Year: <%= post.releaseYear %></h3>
      <h3 class="genre">Genre: <%= post.genre %></h3>
      <h3 class="ratings">Rating: <%= post.rating %></h3>
      <p class="description"><%= post.description %></p>
    </div>
    <button><a href="/posts">Back to Movie List</a></button>
  </center>
</body>

</html>
